{% extends 'base.html' %}

{% block title %}
    <title>Онлайн Магазин</title>
{% endblock %}

{% block body %}
    <h1>Добавление Товара</h1>
    <form method="post">
        <br><input type="text" class="form-control" name="title" id="title" placeholder="Введите название"><br>
        <br><input type="text" class="form-control" name="price" id="price" placeholder="Введите цену"><br>
        <br><input type="text" class="form-control" name="mass" id="mass" placeholder="Введите массу"><br>

        <br><input type="text" class="form-control" name="country" id="country" placeholder="Введите страну"><br>
        <br><input type="text" class="form-control" name="city" id="city" placeholder="Введите город"><br>
        <br><input type="text" class="form-control" name="street" id="street" placeholder="Введите улицу"><br>

        <button class="btn btn-succes" type="submit">Добавить</button>

    </form>
{% endblock %}


